/.idea/
/.gradle/
/build/
/out/
.lastDeploymentsId

#nms & impl submodule build directory ignored
/nms/build
/nms/.gradle
/nms/*/build
/nms/*/.gradle
/impl/build
/impl/.gradle
/impl/*/build
/impl/*/.gradle

# other random folders
/htmlReport
/.kotlin/errors